@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Barlow ,sans-serif;
  font-weight: 400;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  p {
    @apply text-lg
  }
  .hero-section {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card {
    @apply block rounded-lg drop-shadow-lg bg-white max-w-sm
  }
  main {
    @apply mt-20
  }
  .active {
    @apply bg-blue text-white
  }
  .article {
    @apply ltsm:w-full w-3/4 ml-auto
  }
  .heading {
    @apply text-3xl text-heavy-orange font-semibold text-center my-4
  }
  .heading2 {
    @apply text-2xl text-blue-for-text font-medium my-2
  }
  .heading3 {
    @apply text-xl font-medium my-2
  }
  .art-img {
    @apply w-full h-10
  } 
  .right {
    @apply border-4 border-green 
  }
  .wrong {
    @apply border-4 border-red
  }
  main p {
    @apply mt-4
  }
}